<div class="header_products">
    <h1>{{SculptAdvancedProductDetailsArr[3].title}}</h1>
</div>

<div class="main_product_page">
    <div class="content_main_photo">
        <img src="{{SculptAdvancedProductDetailsArr[3].mainPhoto}}" alt="TongueProductMainPicture" />

        <h2>{{SculptAdvancedProductDetailsArr[3].secondTitle}}</h2>
        <p>{{SculptAdvancedProductDetailsArr[3].paragraph}}</p>
    </div>
    <div class="second_product_photo">
        <img src="{{SculptAdvancedProductDetailsArr[3].pic1}}" alt="TongueProductPicture1" />
        <div class="second_product_text">
            <h3>{{SculptAdvancedProductDetailsArr[3].header1}}</h3>
            <p>{{SculptAdvancedProductDetailsArr[3].paragraph1}}</p>
        </div>
    </div>
    <div class="third_product_photo">
        <div class="third_product_text">
            <h3>{{SculptAdvancedProductDetailsArr[3].header2}}</h3>
            <p>{{SculptAdvancedProductDetailsArr[3].paragraph2}}</p>
        </div>
        <img src="{{SculptAdvancedProductDetailsArr[3].pic2}}" alt="TongueProductPicture1" />
    </div>
</div>