<div class="header_products">
    <h1>{{SculptAdvancedProductDetailsArr[userID].title}}</h1>
</div>

<div class="main_product_page">
    <div class="content_main_photo">
        <img src="{{SculptAdvancedProductDetailsArr[userID].mainPhoto}}" alt="napkinPhoto" />

        <h2>{{SculptAdvancedProductDetailsArr[userID].secondTitle}}</h2>
        <p>{{SculptAdvancedProductDetailsArr[userID].paragraph}}</p>
    </div>
    <div class="second_product_photo">
        <img src="{{SculptAdvancedProductDetailsArr[userID].pic1}}" alt="dogSecondPicture" />
        <div class="second_product_text">
            <h3>{{SculptAdvancedProductDetailsArr[userID].header1}}</h3>
            <p>{{SculptAdvancedProductDetailsArr[userID].paragraph1}}</p>
        </div>
    </div>
    <div class="third_product_photo">
        <div class="third_product_text">
            <h3>{{SculptAdvancedProductDetailsArr[userID].header2}}</h3>
            <p>{{SculptAdvancedProductDetailsArr[userID].paragraph2}}</p>
        </div>
        <img src="{{SculptAdvancedProductDetailsArr[userID].pic2}}" alt="" />
    </div>
</div>